<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sequence Reordering Game</title>
        <link rel="stylesheet" href="static/create.css">
    </head>
    <body>
        <div class="main">
            <h1><a href={{  url_for('choosegames')  }}>Play Games</a></h1>
            <h1><a href={{  url_for('gameinfo')  }}>Create a New Game</a></h1>
            <h1><a href={{  url_for('seetimes')  }}>See Player Scores</a></h1>
            <br>
            <br>
            {{  show  }}
            <br><br>
            <h4><a href={{  url_for('managegames')  }}>(Admin only) Manage game database</a></h4>
        </div>
    </body>
</html>
