<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sequence Reordering Game</title>
        <link rel="stylesheet" href={{ url_for('static', filename='showgames.css') }}>
    </head>
    <body>
        <a href={{  url_for('index')  }} class="smlbtn" style="position:absolute; left:10px"><div class="fakebuttonsml"><div class="fakebuttonsmltext">Home</div></div></a>
        
        <div class="main">
            <h2>
                <span class="highlight">{{  ranking.username  }}</span>,<br>
                You completed your last game in <span class="highlight">{{  ranking.game_time_sec  }}</span> and was ranked <span class="highlight">number {{  ranking.ranking  }}</span> among <span class="highlight">{{  ranking.game_difficulty  }} level {{  ranking.game_type  }}</span> games!
            </h2><br>
            <br>
            <br>

            <a href={{  url_for('seetimes')  }}>See all scores</a>
        </div>
    </body>
</html>